<section class="intro">

  <div class="intro-overlay"></div>
  <header>
    <div class="section-menu">
      <div class="logo-bar">
        <a class="logo" href="index.html"> </a>
      </div>
      <a class="contact-btn bg-green text-black" href="mailto:divyachavda30@gmail.com" target="_blank"
        *ngIf="!isMobile">
        Contact Me&nbsp;
      </a>
      <div class="menu" *ngIf="isMobile" (click)="onChangeMenu()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>

    <div class="open-menu" *ngIf="isMobile && isMenuOpen">
      <ng-container [ngTemplateOutlet]="mobileMenu"></ng-container>
    </div>
  </header>

  <div class="intro-container">
    <div class="intro-content">
      <div class="heading-titles">
        <div class="text-style1 flex">
          <div class="green-bullet"></div>
          Currently working as a Senior software developer in Citi Corp.
        </div>
        <div class="col-twelve baner-text">
          <h2 class="title">Hi, I’m Divya</h2>
          <div class="profile-img"></div>
        </div>
        <h3 class="sub-title">A Full stack Developer</h3>
      </div>


      <ng-container [ngTemplateOutlet]="socialTemplate" *ngIf="!isMobile">
      </ng-container>
    </div>

    <ng-container [ngTemplateOutlet]="socialTemplate" *ngIf="isMobile"></ng-container>
    <div class="scroll-btn" (click)="scrollToNextTab()">
      <app-icon-svg [iconName]="'scroll_down'"></app-icon-svg>
    </div>
  </div>

</section>
<ng-template #mobileMenu>
  <h3 class="title">Interested in working together?</h3>
  <ng-container [ngTemplateOutlet]="socialTemplate"></ng-container>
  <div class="lets-connect">
    Let’s Connect
  </div>
  <div class="lets-connect">
    <a [href]="'mailto:'+emailId">
      {{emailId}}
    </a>
  </div>
</ng-template>

<ng-template #socialTemplate>

  <ul class="intro-social">
    <li *ngFor="let item of socialLinks">
      <a [href]="item.link" target="_blank">
        <i [class]="item.logo" *ngIf="!item.isSvg"></i>
        <app-icon-svg [iconName]="item.logo" *ngIf="item.isSvg"></app-icon-svg>
      </a>
    </li>
  </ul>
</ng-template>