header {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 66px;
  z-index: 600;
  .section-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px 140px;
    align-items: center;
    .logo-bar {
      display: block;
      background: transparent;
      height: 120px;
      position: relative;
      .logo {
        width: 110px;
        height: 110px;
        position: relative;
        display: inline-block;
        background: url(/assets/logo.png) no-repeat center;
        background-size: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .contact-btn {
      border-radius: 30px;
      height: 48px;
      padding: 17px 24px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
  }
}

.banner-image {
  position: absolute;
  right: 15%;
  bottom: 0;
  opacity: 0.4;
  img {
    bottom: 0;
    width: auto;
    height: 350px;
  }
}
.intro {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
  text-align: center;
  background: linear-gradient(rgb(0 0 0 / 87%), rgb(0 0 0)), url(/assets/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  .intro-container {
    padding: 20px 140px;
    .intro-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: translateY(-2.1rem);
      position: relative;
      color: white;
      .heading-titles {
        width: 90%;
        text-align: left;
        .baner-text {
          text-align: left;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          h2.title {
            margin-top: 12px;
          }

          .text-style {
            font-size: 22px;
            font-weight: 150;
            width: 80%;
            margin-bottom: 50px;
          }
        }
      }
      .sub-title {
        margin-top: 15px;
      }
      h2,
      h3 {
        color: transparent;
        font-size: 6.2rem;
        font-weight: 400;
        background: linear-gradient(180deg, #fff 0%, #82ff1f85 107.69%);
        background-clip: text;
        line-height: 90%;
      }
      .profile-img {
        width: 191px;
        height: 92px;
        border-radius: 100px;
        border: 2px solid #fff;
        background: url(/assets/div_profile.jpg);
        background-color: #333233;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center -100px;
        margin-left: 10px;
        // filter: grayscale(0.7);
      }
    }
    .text-style1 {
      font-size: 22px;
      font-weight: 150;
      text-align: left;
      width: 80%;
      margin-bottom: 50px;
      color: #fff;
    }
    .scroll-btn {
      cursor: pointer;
    }
  }
}

@media (min-width: 200px) and (max-width: 690px) {
  header {
    .section-menu {
      padding: 10px 30px;
      .logo-bar {
        .logo {
          width: 100px;
          height: 100px;
        }
      }
      .menu {
        font-size: 24px;
      }
      .contact-btn {
        height: 40px;
        padding: 18px;
      }
    }
  }

  .intro-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 !important;
    padding: 0;
  }
  .intro {
    height: 120vh;
    min-height: 120vh;
    background-size: 200%;
    .intro-container {
      padding: 30px;
      .intro-content {
        display: block;
        margin: 35px 0;
        .heading-titles {
          .baner-text {
            display: block;
            h2.title {
              font-size: 3rem;
            }
          }
        }
        .profile-img {
          width: 135px;
          height: 70px;
          background-position: center -65px;
        }
        .sub-title {
          font-size: 3rem;
        }
      }
      .text-style,
      .text-style1 {
        width: 100%;
        line-height: 30px;
        font-size: 22px;
      }
    }
    .banner-image {
      position: absolute;
      right: 5%;
      bottom: 0;
      opacity: 0.4;
      img {
        height: 220px;
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .intro {
    height: auto;
    min-height: auto;
  }
}

@media (min-width: 1600px) and (max-width: 2500px) {
  .intro {
    height: 80vh;
    min-height: 80vh;
    .intro-container {
      .intro-content {
        margin: 40px 0;
      }
      .text-style1 {
        font-size: 26px;
        margin-bottom: 80px;
      }
    }
  }
}
