<div class="about-container" id="aboutSectionId">
    <div class="sub-title flex">
        <div class="green-bullet"></div>About me
    </div>
    <div class="desc text-white">
        Software Engineer with 8+ years of experience building scalable and resilient enterprise applications. Currently
        working as an Assistant Vice President (AVP) at Citi, contributing to AI/GenAI initiatives in the Foreign
        Exchange domain, developing intelligent, data-driven solutions using Python, FastAPI, and React to enhance
        financial workflows and decision-making.

        <br /><br />

        Previously, I worked as an SDE-3 in Citi’s Research Technology team, specializing in backend architecture and
        microservices. I have designed high-performance systems using Java, Spring Boot, Kafka, and OpenShift, with
        strong expertise in microservices, API development, PostgreSQL, Docker, and Kubernetes, enabling reliable,
        scalable, and production-ready solutions.
    </div>
    <div class="flower-icon">

        <app-icon-svg class="flower-icon" [iconName]="'about_flower'"></app-icon-svg>
    </div>
</div>