.about-container {
  padding: 20px 95px;
  position: relative;
  background-color: #121212;
  .desc {
    position: relative;
    width: 70%;
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    margin: 40px 0;
    z-index: 1;
  }
  .flower-icon {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 0;
  }
}
