<div class="about-container" id="aboutSectionId">
    <div class="sub-title flex">
        <div class="green-bullet"></div>About me
    </div>
    <div class="desc text-white">
        Experienced Java Full Stack Developer with 6.5+ years of expertise in designing and implementing software
        solutions. Currently at Citi as a Full Stack Developer, specializing in Java, Spring Boot, Microservices,
        and
        Angular. With 3+ years of hands-on experience in Java and Microservices, I excel at building robust systems,
        integrating RESTful APIs, and managing databases like MongoDB and MySQL. On the front end, I bring expertise
        in
        Angular, Ionic, and Cordova, delivering responsive applications with features like Apple Pay and Google Pay.


        <br />
        <br />
        Proficient in JavaScript, TypeScript, HTML, CSS, and tools like Git, Jenkins, Docker, and Kafka. Thriving in
        Agile environments, I am skilled at managing projects and solving problems, with 800+ LeetCode problems
        solved.
        Certified in Angular, NodeJS, and MongoDB, I am passionate about learning and building scalable, impactful
        solutions.

    </div>
    <div class="flower-icon">

        <app-icon-svg class="flower-icon" [iconName]="'about_flower'"></app-icon-svg>
    </div>
</div>