<div class="journey-parent">
    <div class="row title section-title">
        Professional Journey
    </div>
    <div class="journey_container">
        <div class="journey-item" *ngFor="let item of journeys; let i = index"
            [ngClass]="item.active ? 'active item-'+i : 'item-'+i" (click)="onExpChange(i)">
            <div class="logo-container">
                <div class="logo">
                    <img [src]="'/assets/' + item.logo" />
                </div>
                <div class="details">
                    <h3 class="title">{{item.companyName}}</h3>
                    <div class="inner-details">
                        {{item.startDate}} - {{item.endDate}} <br />
                        {{ item.location}}
                    </div>
                </div>
            </div>
            <h3 class="title">{{item.role}}</h3>
            <div class="responsiblity" [innerHTML]="item.jobResp"></div>
        </div>
    </div>
</div>