<section class="skills-tab">
    <div class="sub-title flex">
        <div class="green-bullet"></div>Tools & Skills
    </div>
    <div class="row title ">
        My Skillset and Creation
    </div>
    <div class="row">
        <div class="col-twelve " id='stage'>
            <ul class="skill-parent shape  ring backfaces">
                <div class="skill-item plane" *ngFor="let item of combinedSkills">
                    <!-- https://icons8.com/icons/set/spring-boot -->
                    <app-icon-svg class="flower-icon" [iconName]="getSkill(item.skillName)"></app-icon-svg>
                    <div class="skill-label">{{item.skillName}}</div>
                </div>
            </ul>
        </div>
    </div>
</section>