.skills-tab {
  padding: 30px 100px;

  .skill-parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .skill-item {
    width: 140px;
    height: 140px;
    background: #fff;
    box-shadow: 0 6px 24px rgb(0 0 0 / 20%);
    border-radius: 50%;
    padding: 25px;
    margin: 15px 15px 50px;
  }
  .skill-item .java-svg {
    width: 100px;
    height: 90px;
  }
  .skill-item .skill-label {
    text-align: center;
    margin-top: 45px;
    font-weight: 500;
    font-size: 18px;
  }

  .skill-item {
    animation: blobber 20s 0s linear infinite,
      cobler 20s 0s linear infinite alternate;
    transition: all;
    /* y-float 7s linear infinite alternate; */
  }

  @keyframes blobber {
    0% {
      border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
    5% {
      border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
    }
    10% {
      border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
    }
    15% {
      border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
    }
    20% {
      border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
    }
    25% {
      border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
    }
    30% {
      border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
    }
    35% {
      border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
    }
    40% {
      border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
    }
    45% {
      border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
    }
    50% {
      border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
    }
    55% {
      border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
    }
    60% {
      border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
    }
    65% {
      border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
    }
    70% {
      border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
    }
    75% {
      border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
    }
    80% {
      border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
    }
    85% {
      border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
    }
    90% {
      border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
    }
    95% {
      border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
    }
    100% {
      border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
  }

  @keyframes cobler {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  @keyframes wobbler {
    0% {
      transform: rotateZ(8deg);
    }
    100% {
      transform: rotateZ(-8deg);
    }
  }
}

@media (min-width: 200px) and (max-width: 690px) {
  .skills-tab {
    padding: 25px;

    .skill-parent {
      margin: 0;

      .skill-item {
        width: 125px;
        height: 125px;
        margin: 10px 10px 35px;

        .skill-label {
          font-size: 15px;
        }
        .java-svg {
          width: 90px;
          height: 80px;
        }
      }
    }
  }
}

@media (min-width: 1600px) and (max-width: 2500px) {
  .skills-tab {
    .skill-item {
      width: 200px;
      height: 200px;
      margin: 20px 60px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      ::ng-deep svg {
        width: 120px;
        height: 110px;
        margin-top: 10%;
      }
      .skill-label {
        margin-top: 60%;
        font-size: 26px;
      }
    }
  }
}
